# Server port - The port on which the application will run (default: 3000)
PORT=3000

# App package name - Your application's unique identifier.  Make sure it exactly matches the package name in the MentraOS Developer Console
PACKAGE_NAME=dev.ktos.jingwei

# API key - Your MentraOS developer API key from the MentraOS Developer Console (never commit the key to source control)
MENTRAOS_API_KEY=CHANGEME

# Jingwei settings: cert, ca cert and keyfile for mTLS
JINGWEI_CERTFILE=mentra.cert.pem
JINGWEI_KEYFILE=mentra.key.pem
JINGWEI_CACERTFILE=ca.cert.pem

# Jingwei MQTT connection URL, e.g. mqtts://192.168.8.204
JINGWEI_MQTT=